<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>関東不動産価格予測</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ollama.js') }}"></script>
    <div class="container">
        <div class="form-result-container">
            <div class="form-container">
                <form name="myForm" method="post" onsubmit="return validateForm()">
                    <div class="radio-group">
                        <div class="options">
                            <input type="radio" id="apartment" name="property_type" value="apartment" {% if property_type == 'apartment' %}checked{% endif %} required>
                            <label for="apartment">マンション</label>
                            
                            <input type="radio" id="house" name="property_type" value="house" {% if property_type == 'house' %}checked{% endif %} required>
                            <label for="house">一户建て</label>
                        </div>
                    </div>
                    <div id="houseInputs" style="display:none;">
                        土地面積（㎡）: <br><input type="text" name="house_land_area" value="{{ request.form['house_land_area'] if 'house_land_area' in request.form else '' }}" required><br><br>
                        建筑面積（㎡）: <br><input type="text" name="house_building_area" value="{{ request.form['house_building_area'] if 'house_building_area' in request.form else '' }}" required><br><br>
                        建物の構造: <br>
                        <select name="house_structure" required>
                            {% for structure in ['ＲＣ', 'ＳＲＣ', '鉄骨造', '木造', '軽量鉄骨造', '鉄骨造、軽量鉄骨造', 'ＳＲＣ、鉄骨造', 'ブロック造', 'ＳＲＣ、ＲＣ', '鉄骨造、木造', 'ＲＣ、鉄骨造、木造', 'ＲＣ、ブロック造', 'ＲＣ、木造', 'ＲＣ、鉄骨造', '木造、ブロック造', 'ＲＣ、軽量鉄骨造', '木造、軽量鉄骨造', 'ＲＣ、木造、ブロック造', 'ＳＲＣ、木造', 'ブロック造、軽量鉄骨造', '鉄骨造、木造、軽量鉄骨造', '鉄骨造、ブロック造', 'ＲＣ、鉄骨造、木造、ブロック造', 'ＲＣ、鉄骨造、ブロック造', '鉄骨造、木造、ブロック造', 'ＲＣ、鉄骨造、軽量鉄骨造'] %}
                            <option value="{{ structure }}" {% if structure == request.form['house_structure'] %}selected{% endif %}>{{ structure }}</option>
                            {% endfor %}
                        </select><br><br>
                        建築年数:<br> <input type="text" name="house_age" value="{{ request.form['house_age'] if 'house_age' in request.form else '' }}" required><br><br>
                    </div>
                    <div id="apartmentInputs" style="display:none;">
                        面積（㎡）: <br><input type="text" name="apartment_area" value="{{ request.form['apartment_area'] if 'apartment_area' in request.form else '' }}" required><br><br>
                        建物の構造: <br>
                        <select name="apartment_structure" required>
                            {% for structure in ['ＲＣ', 'ＳＲＣ', '鉄骨造', '木造', '軽量鉄骨造', '鉄骨造、軽量鉄骨造', 'ＳＲＣ、鉄骨造', 'ブロック造', 'ＳＲＣ、ＲＣ', '鉄骨造、木造', 'ＲＣ、鉄骨造、木造', 'ＲＣ、ブロック造', 'ＲＣ、木造', 'ＲＣ、鉄骨造', '木造、ブロック造', 'ＲＣ、軽量鉄骨造', '木造、軽量鉄骨造', 'ＲＣ、木造、ブロック造', 'ＳＲＣ、木造', 'ブロック造、軽量鉄骨造', '鉄骨造、木造、軽量鉄骨造', '鉄骨造、ブロック造', 'ＲＣ、鉄骨造、木造、ブロック造', 'ＲＣ、鉄骨造、ブロック造', '鉄骨造、木造、ブロック造', 'ＲＣ、鉄骨造、軽量鉄骨造'] %}
                            <option value="{{ structure }}" {% if structure == request.form['apartment_structure'] %}selected{% endif %}>{{ structure }}</option>
                            {% endfor %}
                        </select><br><br>
                        間取り:<br>
                        <select name="apartment_layout" required>
                            {% set sorted_layouts = [
                                '１Ｒ', '１Ｒ＋Ｓ', '１Ｋ', '１Ｋ＋Ｓ', '１ＤＫ', '１ＤＫ＋Ｓ', '１Ｌ', '１Ｌ＋Ｓ', '１ＬＫ', '１ＬＫ＋Ｓ', '１ＬＤＫ', '１ＬＤＫ＋Ｓ', '１ＬＤＫ＋Ｋ',
                                '２Ｒ', '２Ｒ＋Ｓ', '２Ｋ', '２Ｋ＋Ｓ', '２ＤＫ', '２ＤＫ＋Ｓ', '２Ｌ', '２Ｌ＋Ｓ', '２ＬＫ', '２ＬＫ＋Ｓ', '２ＬＤＫ', '２ＬＤＫ＋Ｓ', '２ＬＤＫ＋Ｋ',
                                '３Ｒ', '３Ｒ＋Ｓ', '３Ｋ', '３Ｋ＋Ｓ', '３ＤＫ', '３ＤＫ＋Ｓ', '３Ｌ', '３Ｌ＋Ｓ', '３ＬＫ', '３ＬＫ＋Ｓ', '３ＬＤＫ', '３ＬＤＫ＋Ｓ', '３ＬＤＫ＋Ｋ',
                                '４Ｒ', '４Ｒ＋Ｓ', '４Ｋ', '４Ｋ＋Ｓ', '４ＤＫ', '４ＤＫ＋Ｓ', '４Ｌ', '４Ｌ＋Ｓ', '４ＬＫ', '４ＬＫ＋Ｓ', '４ＬＤＫ', '４ＬＤＫ＋Ｓ', '４ＬＤＫ＋Ｋ',
                                '５Ｒ', '５Ｒ＋Ｓ', '５Ｋ', '５Ｋ＋Ｓ', '５ＤＫ', '５ＤＫ＋Ｓ', '５Ｌ', '５Ｌ＋Ｓ', '５ＬＫ', '５ＬＫ＋Ｓ', '５ＬＤＫ', '５ＬＤＫ＋Ｓ', '５ＬＤＫ＋Ｋ',
                                '６Ｒ', '６Ｒ＋Ｓ', '６Ｋ', '６Ｋ＋Ｓ', '６ＤＫ', '６ＤＫ＋Ｓ', '６Ｌ', '６Ｌ＋Ｓ', '６ＬＫ', '６ＬＫ＋Ｓ', '６ＬＤＫ', '６ＬＤＫ＋Ｓ', '６ＬＤＫ＋Ｋ',
                                '７ＬＤＫ',
                                'オープンフロア', 'nan', 'スタジオ', 'メゾネット'
                            ] %}
                            {% for layout in sorted_layouts %}
                            <option value="{{ layout }}" {% if layout == request.form['apartment_layout'] %}selected{% endif %}>{{ layout }}</option>
                            {% endfor %}
                        </select><br><br>
                        建築年数:<br> <input type="text" name="apartment_age" value="{{ request.form['apartment_age'] if 'apartment_age' in request.form else '' }}" required><br><br>
                    </div>
                    地区名:
                    <select id="prefecture" name="prefecture" required>
                        <option value="">都道府県名を選んでください</option>
                        {% for prefecture in prefectures %}
                        <option value="{{ prefecture }}" {% if prefecture == selected_prefecture %}selected{% endif %}>{{ prefecture }}</option>
                        {% endfor %}
                    </select>
                    <select id="city" name="city" required>
                        <option value="">市区町村名を選んでください</option>
                        {% if selected_prefecture %}
                            {% for city in city_to_districts[selected_prefecture].keys() %}
                            <option value="{{ city }}" {% if city == selected_city %}selected{% endif %}>{{ city }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <select id="district" name="district" required>
                        <option value="">地区名を選んでください</option>
                        {% if selected_city %}
                            {% for district in city_to_districts[selected_prefecture][selected_city] %}
                            <option value="{{ district }}" {% if district == selected_district %}selected{% endif %}>{{ district }}</option>
                            {% endfor %}
                        {% endif %}
                    </select><br>
                    最寄駅：
                    <select id="station" name="station" required>
                        <option value="">最寄駅を選んでください</option>
                        {% if selected_district %}
                            {% for station in city_to_districts[selected_prefecture][selected_city][selected_district] %}
                            <option value="{{ station }}" {% if station == selected_station %}selected{% endif %}>{{ station }}</option>
                            {% endfor %}
                        {% endif %}
                    </select><br>
                    最寄駅：距離(分): <br><input type="text" name="distance" value="{{ request.form['distance'] if 'distance' in request.form else '' }}" required><br>
                    <button type="submit">PREDICT</button>
                    <button type="button" id="analyzeButton">ASK AI</button>
                    <form id="predictionForm" name="myForm" method="post" onsubmit="return validateForm()">
                </form>
                {% if prediction_text %}
                    <div class="prediction">
                        {{ prediction_text }}
                    </div>
                {% endif %}
            </div>
            <div class="result-container">
                {% if result != "NO DATA" %}
                    <div class="result">
                        <h3>過去の取引記録</h3>
                        <div class="table-container">
                            {{ result|safe }}
                        </div>
                    </div>
                {% else %}
                    <div class="result">
                        <h3>NO DATA</h3>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- Ollama 部分 -->
        <div class="query-section">
            <div class="response-container" id="responseContainer"></div>
            <form id="queryForm" class="form-inline">
                <input type="text" id="prompt" name="prompt" required placeholder="{{selected_district}}地域、{{selected_station}}駅について質問して下さい">
                <i class="fas fa-paper-plane" id="sendIcon"></i>
            </form>
        </div>
        <br>

        <!-- 选项卡容器 -->
        <div class="tab-container">
            <div class="tab" data-type="district">
                {% if property_type == 'apartment' %}
                    {{selected_district}}地域のマンション価格分析
                {% else %}
                    {{selected_district}}地域の一戸建て価格分析
                {% endif %}
            </div>
            <div class="tab" data-type="station">
                {% if property_type == 'apartment' %}
                    {{selected_station}}駅のマンション価格分析
                {% else %}
                    {{selected_station}}駅の一戸建て価格分析
                {% endif %}
            </div>
        </div>
        <div class="charts-container">
            {% if chart_exists %}
            <div class="charts-box">
                <div class="chart district">
                    <img src="{{ district_price_trend_path }}" alt="Price Trend">
                </div>
                <div class="chart district">
                    <img src="{{ district_price_per_sqm_trend_path }}" alt="Transaction Volume">
                </div>
                <div class="chart district">
                    <img src="{{ district_transaction_volume_path }}" alt="Transaction Volume">
                </div>
                <div class="chart district">
                    <img src="{{ district_price_distribution_path }}" alt="Transaction Volume">
                </div>
                <div class="chart district">
                    <img src="{{ district_price_distribution_pie_path }}" alt="Price Distribution">
                </div>
                <div class="chart station">
                    <img src="{{ station_price_trend_path }}" alt="Price Trend">
                </div>
                <div class="chart station">
                    <img src="{{ station_price_per_sqm_trend_path }}" alt="Transaction Volume">
                </div>
                <div class="chart station">
                    <img src="{{ station_transaction_volume_path }}" alt="Transaction Volume">
                </div>
                <div class="chart station">
                    <img src="{{ station_price_distribution_path }}" alt="Price Distribution">
                </div>
                <div class="chart station">
                    <img src="{{ station_price_distribution_pie_path }}" alt="Transaction Volume">
                </div>
            </div>
            {% endif %}
        </div>
        <br>
        <h3 class="footer-text">Created by WEI CHUANJUN</h3>
    </div>
</body>
</html>