/* 清除默认样式并确保盒模型计算方式一致 */


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0 20px;
}

.container {
    max-width: 1200px;
    margin: 5px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.chart h2 {
    margin-bottom: 5px;
    /* 确保标题与图表内容之间有间距 */
}

.form-result-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch;
    /* 使子元素高度一致 */
}

.form-container {
    width: 48%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.result-container {
    width: 48%;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    height: auto;
    /* 确保容器高度自适应内容 */
    flex: 1;
    /* 使容器在flex布局中占据相同的高度 */
    max-height: 963px;
}

input,
select,
button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    /* 设置宽度为100% */
    box-sizing: border-box;
    /* 确保padding和border计算在内 */
}

button {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.prediction {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #d9534f;
    /* Highlight color */
    text-align: center;
}

.result {
    text-align: center;
    margin-top: 1px;
}

.charts-container {
    width: 100%;
    max-width: 1100px;
    /* 确保容器最大宽度 */
    margin: 0px auto;
    /* 确保上下边距，并使容器居中 */
    padding: 0 25px;
    /* 确保容器与左右两边有一定的距离 */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: none;
    /* 确保没有最大高度限制 */
}

.chart {
    margin-bottom: 20px;
    /* 确保图表之间有间距 */
    /* width: 100%; */
    /* 设置宽度为100% */
    padding: 20px;
    background-color: #fff;
    text-align: center;
    /* 使图表内容居中 */
    margin-left: 10px;
    margin-right: 10px;
}

.chart img {
    width: 100%;
    /* 确保宽度为100% */
    height: auto;
    /* 确保高度自动调整 */
}

.charts-box {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 使内容居中对齐 */
    max-height: none;
    /* 确保没有最大高度限制 */
}

.table-container {
    width: 100%;
    overflow-x: auto;
    max-height: 100%;
    /* 确保容器不会溢出 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f9;
}

.footer-text {
    text-align: center;
    font-size: 14px;
    width: 100%;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.radio-group .options {
    display: flex;
    gap: 30px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.radio-group input[type="radio"]:checked+label {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}


.tab-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10, 20px;
    background-color: #f0f0f0;
    border-radius: 30px 30px 0px 0px;
    /* 圆角样式 */
    overflow: hidden;
    /* 确保内容不会超出圆角边界 */
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    border: 0px solid #007bff;
    /* 默认显示边框 */
    background-color: transparent;
    /* 未选中时背景透明 */
    color: #000000;
    /* 选中时文字 */
    font-weight: bold;
    /* 字体加粗 */
}

.tab:hover {
    background-color: #80bfff;
    /* 鼠标悬停时背景 */
}

.tab.active {
    background-color: #007bff;
    color: #fff;
    /* 选中时文字颜色变白 */
    border-color: #007bff;
    /* 选中时边框颜色变蓝 */
}

/* Ollama Response Container */
.response-container {
    width: 100%;
    max-width: 1100px;
    /* 确保容器最大宽度 */
    margin: 20px auto;
    /* 确保上下边距，并使容器居中 */
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    /* 限制高度 */
    overflow-y: auto;
    /* 启用垂直滚动 */
    white-space: pre-wrap;
    /* 保留换行 */
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.response-entry {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.response-entry:last-child {
    border-bottom: none;
}

#responseContainer {
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;
}

#responseContainer p {
    margin-bottom: 1em;
}

.query-section {
    width: 100%;
    max-width: 1100px;
    margin: 20px auto;
    padding: 0 25px;
}

.query-section .response-container {
    width: 100%;
    height: 600px;
    /* 默认最大高度 */
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    white-space: pre-wrap;
    /* 保留换行 */
}

.query-section .form-inline {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    /* Add this to ensure padding and border are included in the element's total width */
}

.query-section .form-inline input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Add this to ensure padding and border are included in the element's total width */
}

.query-section .form-inline .fa-paper-plane {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    /* Optional: adds spacing between the input and the button */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}



#sendIcon:hover {
    color: #0056b3;
    /* 鼠标悬停时的颜色 */
}

#analyzeButton {
    padding: 10px 20px;
    background: linear-gradient(45deg, #00c6ff, #1e6cccb4, #00c6ff, #07284f);
    color: white;
    border: none;
    /* border-radius: 25px; */
    cursor: pointer;
    font-size: 16px;
    transition: background 0.5s, transform 0.2s;
    background-size: 400% 400%;
    border: 3px #1251b5a2;

    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

#analyzeButton.onhover {
    animation: gradient 3s ease infinite;
    /* transform: scale(1.0); */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

#analyzeButton:hover {
    background-color: #041634;
    color: rgb(201, 193, 193);

}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}